<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Référentiel</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="mr-5" *ngIf="sheetCartService.selectedSheetIdList.length === 0">Aucune fiche sélectionnée</div>
    
    <div class="mr-5" *ngIf="sheetCartService.selectedSheetIdList.length !== 0">
      {{ sheetCartService.selectedSheetIdList.length }} 
      fiche<span *ngIf="sheetCartService.selectedSheetIdList.length > 1">s</span> 
      sélectionnée<span *ngIf="sheetCartService.selectedSheetIdList.length > 1">s</span>
    </div>
    <div class="btn-group mr-2">
      <button type="button" 
              class="btn btn-sm btn-outline-secondary"
              (click)="onSeeSheets()" 
              [disabled]="sheetCartService.selectedSheetIdList.length === 0">
        Voir les fiches
      </button>
      <button type="button" 
              class="btn btn-sm btn-outline-secondary"
              (click)="onDownloadSheets()" 
              [disabled]="sheetCartService.selectedSheetIdList.length === 0">
        Télécharger
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-5">
      <table datatable class="row-border hover compact hover stripe" [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>Name</th>
              <th>Agence</th>
              <th>Client</th>
              <th>Poste</th>
              <th>Options</th>
            </tr>
          </thead>
          <tfoot>
              <tr>
                  <th><input type="text" 
                             placeholder="Rechercher nom" 
                             name="search-name"
                             class="form-control"/></th>
                  <th>
                    <select class="form-control" id="agenceFilter" name="agenceFilter">
                      <option *ngFor="let agence of agences" [value]="agence">{{ agence }}</option>
                    </select>
                    
                  </th>
                  <th>
                      <select class="form-control" id="clientFilter" name="clientFilter">
                        <option *ngFor="let client of clients" [value]="client">{{ client }}</option>
                      </select>
                  </th>
                  <th>
                      <select class="form-control" id="posteFilter" name="posteFilter">
                        <option *ngFor="let poste of postes" [value]="poste">{{ poste }}</option>
                      </select>
                  </th>
                  <th></th>
                </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let sheet of sheets; let i = index"
            >
              <td><h1 class="badge badge-blueneosoft">{{ sheet.name }}</h1></td>
              <td>{{ sheet.agence }}</td>
              <td>{{ sheet.client }}</td>
              <td>{{ sheet.poste }}</td>
              <td>
                
                <button class="pull-right btn btn-neosoft" 
                        (click)="onEditSheet(sheet.id)"
                        data-toggle="tooltip" data-placement="top" title="Editer de la fiche">
                  <i class="fa fa-edit"></i>
                </button>

                <button class="pull-right btn btn-neosoft mr-2" 
                        (click)="onViewSheet(sheet.id)"
                        data-toggle="tooltip" data-placement="top" title="Visualiser la fiche">
                  <i class="fa fa-eye"></i>
                </button>

                <button class="pull-right btn btn-neosoft mr-2" 
                        (click)="onSelectSheet(sheet.id)"
                        [ngClass]="{'btn-neosoft-success-reverse': sheet.selected }"
                        data-toggle="tooltip" data-placement="top" title="Sélectionner la fiche">
                    <i class="fa fa-plus" *ngIf="!sheet.selected"></i>
                    <i class="fa fa-check" *ngIf="sheet.selected"></i>
                  </button>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
