<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">

    <app-sidebar *ngIf="isAuth()"></app-sidebar>

    <main role="main"
          class="col-md-9 ml-sm-auto col-lg-10 px-4"
          [ngClass]="{'col-md-12 col-lg-12' : !isAuth()}">

      <router-outlet></router-outlet>
    </main>
  </div>
</div>
