<h2 class="text-info">Fiches de reference</h2>
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="dataSource" class="example-table"
           matSort matSortActive="projet.nomProjet" matSortDisableClear matSortDirection="desc">
      <!-- Number Column -->
      <ng-container matColumnDef="projet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Projet</th>
        <td mat-cell *matCellDef="let row">{{row.projet.nomProjet}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
        <td mat-cell *matCellDef="let row">{{row.projet.client.societe}}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="agence">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Agence</th>
        <td mat-cell *matCellDef="let row">{{row.agence.agence}}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="menDays">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
          menDays
        </th>
        <td mat-cell *matCellDef="let row">{{row.menDays}}</td>
      </ng-container>
      <!-- Created Column -->
      <ng-container matColumnDef="periodeIntervention">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
          Periode d'intervention
        </th>
        <td mat-cell *matCellDef="let row">{{row.periodeIntervention | date}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
         Action
        </th>
        <td mat-cell *matCellDef="let row">
          <div>
            <button class="btn btn-neosoft pull-left" mat-button (click)="onGoVisuel(row)">Access Fiche de Reference</button>
          </div>
        </td>
          <!-- <mat-icon><i class="material-icons">visu ficheReference</i></mat-icon>
         -->

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
