﻿<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" formControlName="firstName" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">First Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" formControlName="lastName" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="trigrammeUser">TrigrammeUser</label>
    <input type="text" formControlName="trigrammeUser" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.trigrammeUser.errors }"/>
    <div *ngIf="submitted && f.trigrammeUser.errors" class="invalid-feedback">
      <div *ngIf="f.trigrammeUser.errors.required">TrigrammeUser is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="userName">Username</label>
    <input type="text" formControlName="userName" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"/>
    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
      <div *ngIf="f.userName.errors.required">Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" formControlName="email" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="role">Role</label>
    <input type="text" formControlName="role" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.role.errors }"/>
    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
      <div *ngIf="f.role.errors.required">Role is required</div>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Register
    </button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
  </div>
</form>
