
<mat-horizontal-stepper [linear]="true" #stepper>

  <mat-step [stepControl]="contextProjetFormGroup != undefined ?contextProjetFormGroup : null"><app-context-projet
    (projetEvent)="recieveProjet($event)" (contextProjetEvent)=recieveContextProjetForm($event)></app-context-projet></mat-step>

  <mat-step [stepControl]="prestationFormGroup != undefined ?prestationFormGroup : null"><app-prestation
    (prestationEvent)="recievePrestation($event)" (prestationFormEvent)="recievePrestationFormGroup($event)"></app-prestation></mat-step>

  <mat-step [stepControl]="projetPrestationAgenceFormGroup != undefined ?projetPrestationAgenceFormGroup : null"><app-projet-prestation-agence
    (projetPrestationAgenceEvent)="recieveProjetPrestationAgenceFormGroup($event)"  [receivedContextProjetProjet]="projet"
    [receivedPrestationPrestation]="prestation" ></app-projet-prestation-agence></mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
