<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2" *ngIf="!getEditMode()">Créer une nouvelle fiche de références</h1>
  <h1 class="h2" *ngIf="getEditMode()">Edition de la fiche de références <span class="badge badge-blueneosoft">{{ sheet.name }}</span></h1>
  <div class="btn-toolbar mb-2 mb-md-0">

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary" [ngClass]="{active: selectedMod==='mission'}">
        <input type="radio" 
               name="options" 
               id="option1" 
               autocomplete="off" 
               (click)="selectMod('mission')"
               [disabled]="getEditMode()"> Mission
      </label>
      <label class="btn btn-secondary" [ngClass]="{active: selectedMod==='projet'}">
        <input type="radio" 
               name="options" 
               id="option2" 
               autocomplete="off" 
               (click)="selectMod('projet')"
               [disabled]="getEditMode()"> Projet
      </label>
    </div>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
       aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':getPercentage()}"></div>
</div>

<ng-form #sheetForm="ngForm">
  <app-sheet-form-step-global (messageEvent)="receiveMessage($event)"
                              *ngIf="!stepGlobalHidden">
  </app-sheet-form-step-global>
  <app-sheet-form-step-mission (messageEvent)="receiveMessage($event)"
                               *ngIf="!stepMissionHidden">
  </app-sheet-form-step-mission>
  <app-sheet-form-step-additional (messageEvent)="receiveMessage($event)"
                                  *ngIf="!stepAdditionalHidden">
  </app-sheet-form-step-additional>
</ng-form>
