.btn-group.btn-group-toggle {
  label {
    border-color: #75CEF0;
    background-color: white;
    color: darkgrey;
    font-weight: 600;

    &:hover {
      background-color: #94d9f3;
      color: white;
    }

    &:disabled {
      background-color: lightgray;
      color: gray;
    }
  }

  label.active {
    background-color: #75CEF0;
    color: white;
  }

  label:disabled {
    background-color: lightgray;
    color: gray;
  }
}

.animate-transition {
  transition: all .3s;
}

.progress-bar {
  background-color: #94d9f3;
}
