<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
  <h1 class="h2">Fiche de référence <span class="badge badge-blueneosoft">{{ sheet.id }}</span></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onDownload()">Télécharger</button>
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onEdit()">Editer</button>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <button class="btn btn-neosoft pull-left" (click)="onGoBack()">Retour</button>
  </div>
</div>

<section class="overview">
  <header class="head-overview row align-items-center">
    <figure class="logo-overview">
      <img src="../../../../../../assets/images/logo-neo-soft.png" />
    </figure>
    <h2>{{ sheet.client}} <span>/ {{ sheet.poste}}</span></h2>
    <figure class="logo-neo">
      <img src="../../../../../../assets/images/logo-neo-soft_small.png" />
    </figure>
  </header>
  <div class="body-overview row justify-content-between">
    <div class="first">
      <div class="fig-body-overview">
        <figure>

          <img src="../../../../../../assets/images/mission_logo.png">
        </figure>
        <h3>La Mission</h3>
      </div>
      <div class="tab-content">
        <h4>Métier</h4>
        <ul>
          <li *ngFor="let activite of sheet.activites">{{activite}}</li>
        </ul>
        <h4>Méthodologie</h4>
        <ul>
            <li *ngFor="let method of sheet.methodes">{{method}}</li>
        </ul>
        <h4>Collaborateurs</h4>
          <p><small>Nombre de collaborateurs :</small> {{ sheet.nombreCollaborateurs }}</p>
        <h4>Technologie</h4>
        <ul>
          <li *ngFor="let technologie of sheet.technologies">{{technologie}}</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="fig-body-overview">
        <h3>Les Contextes & Enjeux</h3>
      </div>
      <div class="tab-content">
        {{sheet.contextesEtEnjeux}}
      </div>
    </div>
    <div>
      <div class="fig-body-overview">
        <h3>Les Réalisations</h3>
      </div>
      <div class="tab-content">
          {{sheet.realisations}}
      </div>
    </div>
    <div>
      <div class="fig-body-overview">
        <h3>Les Avantages</h3>
      </div>
      <div class="tab-content">
          {{sheet.avantages}}
      </div>
    </div>
  </div>
</section>
