
  <form [formGroup]="contextProjet" (ngSubmit)="createProject()">
    <!-- nom du projet -->
    <ng-template matStepLabel>Context du projet</ng-template>


    <mat-form-field class="col-md-6">
        <mat-label>Marquage</mat-label>
        <mat-select [(ngModel)]="selectedMarquageValue" formControlName="marquage" name="marquage">
          <mat-option  [value]="'CONFIDENTIEL'">
            {{'CONFIDENTIEL'}}
          </mat-option>
          <mat-option  [value]="'RESTREINT_NEOSOFT'">
            {{'RESTREINT_NEOSOFT'}}
          </mat-option>
          <mat-option  [value]="'PUBLIQUE'">
            {{'PUBLIQUE'}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <mat-label>Code CEGID</mat-label>
      <input matInput placeholder="code CEGID" formControlName="codeCEGID" required>
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <mat-label>Liste Clients </mat-label>
      <mat-select [(ngModel)]="selectedClientValue" formControlName="client" name="client" (change)="disableClientCreation()">
        <mat-option *ngFor="let client of clients" [value]="client">
          {{client.societe}}
        </mat-option>
      </mat-select>
    </mat-form-field>

<div class="badge-blueneosoft">
      <div class="col-md-12">
        <mat-label>Ajout Liste Client</mat-label>
      </div>

    <mat-form-field class="col-md-4">
      <mat-label>Societe</mat-label>
      <input matInput placeholder="Création Client" formControlName="clientSociete" (change)="enableClientCreation()">
    </mat-form-field>

    <mat-form-field class="col-md-4">
      <mat-label>Secteur d'activité client</mat-label>
    <input matInput placeholder="secteur Activité" formControlName="clientSecteurActivite">
    </mat-form-field>

  <div>
    <button mat-button type="submit" >Creer client</button>
  </div>
</div>

    <mat-form-field class="col-md-12">
      <mat-label>Projet</mat-label>
      <input matInput placeholder="Intitulé du projet" formControlName="nomProjet" required>
    </mat-form-field>

    <!-- nom du projet -->
    <mat-form-field class="col-md-12">
      <mat-label>Description</mat-label>
      <input matInput placeholder="description" formControlName="description" required>

    <!--<tx-document-editor
      width="1030px"
      height="400px"
      webSocketURL="wss://backend.textcontrol.com/ws/api/TXWebSocket?authToken=12388-22132-12133" >
    </tx-document-editor>-->

    </mat-form-field>

    <mat-form-field class="col-md-12">
      <mat-label>ETP</mat-label>
      <input matInput type="number"  placeholder="etp" formControlName="etp" required>
    </mat-form-field>


    <div>
      <button mat-button type="submit"  >Valider</button>
    </div>

  </form>
