
  <form [formGroup]="prestationForm" (ngSubmit)="createPrestation()">
    <!-- nom du projet -->
    <ng-template matStepLabel>Prestation</ng-template>

    <mat-form-field class="col-md-12">
      <mat-label>C.A.Prestation</mat-label>
      <input matInput type="number"  placeholder="ca prestation" formControlName="caPrestation" required>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <mat-label>Type d'engagement</mat-label>
      <mat-select [(ngModel)]="selectedTypeEngagementValue" formControlName="typeEngagement" name="typeEngagement">
        <mat-option  [value]="'ATG'">
          {{'ATG'}}
        </mat-option>
        <mat-option  [value]="'AT'">
          {{'AT'}}
        </mat-option>
        <mat-option  [value]="'ATE'">
          {{'ATE'}}
        </mat-option>
        <mat-option  [value]="'CDR_CDC'">
          {{'CDR_CDC'}}
        </mat-option>
        <mat-option  [value]="'CDS'">
          {{'CDS'}}
        </mat-option>
        <mat-option  [value]="'TMA'">
          {{'TMA'}}
        </mat-option>
        <mat-option  [value]="'FORFAIT'">
          {{'FORFAIT'}}
        </mat-option>
        <mat-option  [value]="'AuditConseil'">
          {{'AuditConseil'}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <mat-label>Activité Réalisée</mat-label>
      <input matInput placeholder="Activite realisee" formControlName="activiteRealise" required>
    </mat-form-field>

    <!-- nom du projet -->
    <mat-form-field class="col-md-12">
      <mat-label>Activité specifique</mat-label>
      <input matInput placeholder="Activite specifique" formControlName="activiteSpecifique" required>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Technologies</mat-label>
      <mat-select [(ngModel)]="selectedTechnologies" [formControl]="technologiesControl" multiple>
        <mat-option *ngFor="let tech of listTechnologies" [value]="tech">{{tech.technologie}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Methodologies</mat-label>
      <mat-select [(ngModel)]="selectedMethodologies" [formControl]="methodologiesControl" multiple>
        <mat-option *ngFor="let meth of listMethodologies" [value]="meth">{{meth.methodologie}}</mat-option>
      </mat-select>
    </mat-form-field>



    <div>
      <button mat-button type="submit" >Valider</button>
    </div>

  </form>
