<nav class="navbar fixed-top navbar-expand-sm bg-light flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    <img class="logo-neo-soft" src="assets/images/logo-neo-soft.png">
  </a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Recherche rapide pour les fiches de références"
         aria-label="Search" autofocus>

  <ul class="navbar-nav navbar-right px-3">
    <li class="nav-item text-nowrap" *ngIf="!isAuth()">
      <a class="nav-link" href="#" (click)="connect()">Connexion</a>
    </li>
    <li class="nav-item text-nowrap" *ngIf="isAuth()">
      <a class="nav-link" href="/login" (click)="disconnect()">Déconnexion</a>
    </li>
  </ul>

</nav>
