<div class="row big-row">
  <div class="col-md-8">
    <div class="form-group">
      <label for="selectAgence">Choisir une agence</label>
      <select class="form-control" id="selectAgence" [(ngModel)]="sheet.agence" name="agence">
        <option *ngFor="let ag of agences" [value]="ag">{{ag}}</option>
      </select>
    </div>
  </div>
  <div class="col-md">
    <div class="form-group">
      <label for="addAgence">Ajouter une agence</label>
      <div class="input-group mb-3">
        <input id="addAgence" type="text" class="form-control" 
                placeholder="" aria-describedby="confirmAddAgence"
                [(ngModel)]="newAgence">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-add-neosoft" type="button" 
                  id="confirmAddAgence" (click)="addNewField(newAgence, agences)">
            <span class="fa fa-plus"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row big-row">
  <div class="col-md-8">
    <div class="form-group">
      <label for="selectClient">Choisir le client</label>
      <select class="form-control" id="selectClient" [(ngModel)]="sheet.client" name="client">
        <option *ngFor="let cl of clients" [value]="cl">{{cl}}</option>
      </select>
    </div>
  </div>
  <div class="col-md">
    <div class="form-group">
      <label for="addClient">Ajouter un client</label>
      <div class="input-group mb-3">
        <input id="addClient" type="text" class="form-control" placeholder="" 
                aria-describedby="confirmAddClient" [(ngModel)]="newClient">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-add-neosoft" type="button" 
                  id="confirmAddClient" (click)="addNewField(newClient, clients)">
            <span class="fa fa-plus"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row big-row">
  <div class="col-md-8">
    <div class="form-group">
      <label for="selectPoste">Choisir le poste</label>
      <select class="form-control" id="selectPoste" [(ngModel)]="sheet.poste" name="poste">
        <option *ngFor="let po of postes" [value]="po">{{po}}</option>
      </select>
    </div>
  </div>
  <div class="col-md">
    <div class="form-group">
      <label for="addPoste">Ajouter un poste</label>
      <div class="input-group mb-3">
        <input id="addPoste" type="text" class="form-control" placeholder="" 
                aria-describedby="confirmAddPoste" [(ngModel)]="newPoste">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-add-neosoft" type="button" 
                  id="confirmAddPoste" (click)="addNewField(newPoste, postes)">
            <span class="fa fa-plus"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-light btn-neosoft-warning float-left  mr-2" 
        (click)="onCancelEdition()"
        *ngIf="getEditMode()">
  Annuler l'édition
</button>

<button class="btn btn-light btn-neosoft float-right mb-5"
        (click)="goStepMission()"
        [disabled]="formIsInvalid()">
  Suivant&nbsp;&nbsp;<i class="fa fa-chevron-right"></i>
</button>
