/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}


/**  Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */
.btn-add-neosoft {
  border-color: #75CEF0 !important;
  color: #75CEF0 !important;
  font-weight: 600 !important;

  .fa-plus {
    color: #75CEF0 !important;
  }

  &:hover {
    background-color: #75CEF0 !important;
    color: white !important;

    .fa-plus {
      color: white !important;
    }
  }
}

.big-row {
  padding-top: 15px;
}

.btn-neosoft {
  //margin-top: 15px;
  background-color: white !important;
  color: #75CEF0 !important;
  border-color: #75CEF0 !important;
  font-weight: 600 !important;
  margin-left: 10px;

  &:hover {
    background-color: #75CEF0 !important;
    color: white !important;
  }

  &:disabled {
    color: lightgrey !important;
    border-color: lightgrey !important;
  }

  &:disabled:hover {
    color: lightgrey !important;
    border-color: lightgrey !important;
    background-color: white !important;
  }
}

.btn-neosoft-warning {
  //margin-top: 15px;
  background-color: white !important;
  color: orange !important;
  border-color: orange !important;
  font-weight: 600 !important;

  &:hover {
    background-color: orange !important;
    color: white !important;
  }

  &:disabled {
    color: lightgrey !important;
    border-color: lightgrey !important;
  }

  &:disabled:hover {
    color: lightgrey !important;
    border-color: lightgrey !important;
    background-color: white !important;
  }
}

.btn-neosoft-success {
  //margin-top: 15px;
  background-color: white !important;
  color: rgb(165, 233, 64) !important;
  border-color: rgb(165, 233, 64) !important;
  font-weight: 600 !important;

  &:hover {
    background-color: rgb(165, 233, 64) !important;
    color: white !important;
  }

  &:disabled {
    color: lightgrey !important;
    border-color: lightgrey !important;
  }

  &:disabled:hover {
    color: lightgrey !important;
    border-color: lightgrey !important;
    background-color: white !important;
  }
}

.btn-neosoft-success-reverse {
  //margin-top: 15px;
  background-color: rgb(165, 233, 64) !important;
  color: white !important;
  border-color: white !important;
  font-weight: 600 !important;

  &:hover {
    background-color: white !important;
    color: rgb(165, 233, 64) !important;
  }

  &:disabled {
    color: lightgrey !important;
    border-color: lightgrey !important;
  }

  &:disabled:hover {
    color: lightgrey !important;
    border-color: lightgrey !important;
    background-color: white !important;
  }
}

.badges-neosoft {
  padding-left: 15px;

  button {
    border-color: #75CEF0 !important;
    background-color: #75CEF0 !important;
    margin-right: 4px;
    position: relative;

    &:hover {
      background-color: white !important;
      color: #75CEF0 !important;
    }

    span.close-x {
      color: #75CEF0 !important;
      position: absolute;
      top: -5px;
      right: 2px;
      font-weight: 700 !important;
    }

  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.badge-blueneosoft {
  background-color: #75CEF0 !important;
  color: white !important;
}

/*
* Overview
*/

$primaryColor: #75CEF0;

.overview {
  .row {
    margin: 0;
  }
  img {
    display: block;
    width: 100%; height: 100%;
  }
}

.head-overview {
  position: relative;
  &::after {
    content: '';
    position: absolute; bottom: 0; left: 0;
    width: 90%; height: .1rem;
    background: $primaryColor;
  }
  h2 {
    margin: 0 0 0 2rem;
    color: $primaryColor;
    font-weight: bold;
    span {
      font-size: 1.2rem;
    }
  }
}

.logo-overview {
  position: relative;
  width: 16rem;
  margin: 0; padding-left: 3.5rem;
  &::before, &::after {
    content: '';
    position: absolute; top: 50%;
    background: $primaryColor;
  }
  &::before {
    left: 0;
    transform: translateY(-50%);
    width: 3rem; height: .5rem;
  }
  &::after {
    right: 0;
    transform: translate(1rem, -50%);
    width: .4rem; height: 60%;
  }
}

.logo-neo {
  position: absolute;
  right: 0;
}

.body-overview {
  min-height: 70vh;
  & > div {
    width: 25%;
  }
  h3, h4 {
    font-weight: bold;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    text-transform: uppercase;
  }
}

.first {
  color: #fff; background: $primaryColor;
  .fig-body-overview h3 {
    color: #fff;
    &::before {
      background: #fff;
    }
  }
  ul, p {
    padding-left: 2rem;
  }
  ul {
    list-style-type: none;
  }
}

.fig-body-overview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  figure {
    position: absolute; top: .3rem; left: .62rem;
    min-width: 20rem;
  }
  h3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76%; height: 5rem;
    text-align: center;
    color: $primaryColor;
  }
}

.tab-content {
  margin: 1rem 0;
  padding: 0 1rem;
}
