{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <img src="{{asset('assets/images/qosmos.jpg')}}" alt="qosmos picture" />

    <h1>Hello {{ controller_name }}! Welcome to Qosmos! ✅</h1>

    <p>
    This is the temporary route for Sprint 3 demo!
    <br />
    This comes from a Symfony-generated controller.
    </p>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/projects/qosmos/backend/src/Controller/TestController.php'|file_link(0) }}">src/Controller/TestController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/projects/qosmos/backend/templates/test/index.html.twig'|file_link(0) }}">templates/test/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
