<div class="row big-row">
  <div class="col-md-8">
    <div class="form-group">
      <label for="selectActivities">Choisir les activités liées au métier</label>
      <select class="form-control"
              id="selectActivities"
              (change)="onSelectActivitie($event.target.value)">
        <option *ngFor="let act of getFilteredActivities()" [value]="act">{{act}}</option>
      </select>
    </div>
  </div>
  <div class="col-md">
    <div class="form-group">
      <label for="addActivitie">Ajouter une activité</label>
      <div class="input-group mb-3">
        <input id="addActivitie" type="text" class="form-control" placeholder=""
               aria-describedby="confirmAddActivitie" [(ngModel)]="newActivite">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-add-neosoft" type="button"
                  id="confirmAddActivitie" (click)="addNewField(newActivite, activities)">
            <span class="fa fa-plus"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row badges-neosoft">
  <div *ngFor="let selectedAct of sheet.activites" (click)="onClickSelectedBadgeActivitie(selectedAct)">
    <button type="button" class="btn btn-info btn-sm">
      &nbsp;&nbsp;{{selectedAct}}&nbsp;&nbsp;<span class="close-x">x</span></button>
  </div>
</div>

<div class="row big-row">
  <div class="col-md-8">
    <div class="form-group">
      <label for="selectMethods">Choisir les méthodes liées à la méthodologie</label>
      <select class="form-control"
              id="selectMethods"
              (change)="onSelectMethod($event.target.value)" >
        <option *ngFor="let meth of getFilteredMethods()" [value]="meth">{{meth}}</option>
      </select>
    </div>
  </div>
  <div class="col-md">
    <div class="form-group">
      <label for="addMEthod">Ajouter une méthode</label>
      <div class="input-group mb-3">
        <input id="addMEthod" type="text" class="form-control" placeholder=""
               aria-describedby="confirmAddMethod" [(ngModel)]="newMethode">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-add-neosoft" type="button"
                  id="confirmAddMethod" (click)="addNewField(newMethode, methods)">
            <span class="fa fa-plus"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row badges-neosoft">
  <div *ngFor="let selectedMeth of sheet.methodes" (click)="onClickSelectedBadgeMethod(selectedMeth)">
    <button type="button" class="btn btn-info btn-sm">
      &nbsp;&nbsp;{{selectedMeth}}&nbsp;&nbsp;<span class="close-x">x</span></button>
  </div>
</div>


<div class="row big-row">
  <div class="col-md-3">
    <div class="form-group">
      <label for="example-number-input">Equivalent Temps Plein</label>
      <div class="">
        <input class="form-control" type="number" min="0" id="example-number-input" [(ngModel)]="sheet.nombreCollaborateurs" name="nombreCollabaroteurs">
      </div>
    </div>
  </div>
</div>

<div class="row big-row">
  <div class="col-md-8">
    <div class="form-group">
      <label for="selectTechnologies">Choisir les technologies</label>
      <select class="form-control"
              id="selectTechnologies"
              (change)="onSelectTechnologie($event.target.value)">
        <option *ngFor="let tec of getFilteredTechnologies()" [value]="tec">{{tec}}</option>
      </select>
    </div>
  </div>
  <div class="col-md">
    <div class="form-group">
      <label for="addTechnologie">Ajouter une technologie</label>
      <div class="input-group mb-3">
        <input id="addTechnologie" type="text" class="form-control" placeholder=""
               aria-describedby="confirmAddTechnologie" [(ngModel)]="newTechnologie">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-add-neosoft" type="button"
                  id="confirmAddTechnologie" (click)="addNewField(newTechnologie, technologies)">
            <span class="fa fa-plus"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row badges-neosoft">
  <div *ngFor="let selectedTec of sheet.technologies" (click)="onClickSelectedBadgeTechnologie(selectedTec)">
    <button type="button" class="btn btn-info btn-sm">
      &nbsp;&nbsp;{{selectedTec}}&nbsp;&nbsp;<span class="close-x">x</span></button>
  </div>
</div>

<button class="btn btn-light btn-neosoft-warning float-left  mr-2"
        (click)="onCancelEdition()"
        *ngIf="getEditMode()">
  Annuler l'édition
</button>
<button class="btn btn-light btn-neosoft float-left" (click)="goStepGlobal()">
  <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Précédent
</button>
<button class="btn btn-light btn-neosoft float-right mb-5"
        (click)="goStepAdditional()"
        [disabled]="formIsInvalid()">Suivant
  &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button>
