<table id="myTable" border="1" class="btn btn-neo-soft pull left col-md-12">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
    <h2>Fiche de référence <span class="badge badge-blueneosoft"> {{ficheReference.projet.marquage}} </span></h2>


    <div class="row md-1">
      <div class="col-md-5">
        <button class="btn btn-neosoft pull-left" (click)="capturescreen()"> Export PowerPoint</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-neosoft pull-left" (click)="onGoBack()">Retour
        </button>
      </div>

    </div>
  </div>

  <section class="overview">
    <header class="head-overview row align-items-center">
      <figure class="logo-overview">
        <img src="../../../assets/images/logo-neo-soft.png"/>
      </figure>
      <h2>{{ficheReference.projet.codeCEGID}}</h2>
      <h2>{{ ficheReference.projet.client.societe}} <span>/ {{ ficheReference.projet.client.secteurActivite}}
        / {{ficheReference.prestation.typeEngagement}}</span></h2>

    </header>
    <div class="body-overview row justify-content-between">
      <div class="first">
        <div class="fig-body-overview">
          <figure>
            <img src="../../../assets/images/mission_logo.png">
          </figure>
          <h3>La Mission</h3>
        </div>
        <div class="tab-content">


          <h3>Agence {{ficheReference.agence.agence}}</h3>

          <h3>Méthodologie</h3>
          <ul>
            <li *ngFor="let meth of methodologies">{{meth.methodologie}}</li>
          </ul>

          <h3>Technologie</h3>
          <ul>
            <li *ngFor="let tech of technologies">{{tech.technologie}}</li>
          </ul>

          <h3>CA prestation : {{ficheReference.prestation.caPrestation}} € </h3>

          <h6>Equivalent Temps Plein : {{ ficheReference.projet.etp }}</h6>

          <h6>Nbr de JH : {{ficheReference.menDays}}</h6>
        </div>
      </div>

      <div>
        <div class="fig-body-overview">
          <h3>Descriptions</h3>
        </div>
        <div class="tab-content">
          {{ficheReference.projet.description}}
        </div>
      </div>
      <div>
        <div class="fig-body-overview">
          <h3>Les Réalisations</h3>
        </div>
        <div class="tab-content">
          {{ficheReference.prestation.activiteRealise}}
        </div>
      </div>
      <div>
        <div class="fig-body-overview">
          <h3>Spécificités</h3>
        </div>
        <div class="tab-content">
          {{ficheReference.prestation.activiteSpecifique}}
        </div>
      </div>
    </div>
  </section>

</table>



