
  <form [formGroup]="projetPrestationAgence" (ngSubmit)="createProjetPrestationAgence()">
    <!-- nom du projet -->
    <ng-template matStepLabel>Finalisation de prestation</ng-template>
    <mat-form-field class="col-md-12">
      <mat-label>Men days</mat-label>
      <input matInput type="number" placeholder="menDays" formControlName="menDays" required>
    </mat-form-field>
    <!-- nom du projet -->
    <mat-form-field class="col-md-12">
      <mat-label>Debut de prestation</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="periodeIntervention">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Agence</mat-label>
      <mat-select [(ngModel)]="selectedAgenceValue" formControlName="agence" name="agence">
        <mat-option *ngFor="let agence of agences" [value]="agence">
          {{agence.agence}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- hidden inputs -->


    <div>
      <button mat-button type="submit" >Valider</button>
    </div>

  </form>
