<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">
          <span class="fa fa-home"></span>
          Accueil
        </a>
      </li>
      <!--
            <li class="nav-item">
              <a class="nav-link" routerLink="/informations" routerLinkActive="active">
                <span class="fa fa-info"></span>
                Informations
              </a>
            </li>
            -->
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Gestion des fiches</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/referentiel" routerLinkActive="active">
          <span class="fa fa-list"></span>
          Référentiel
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sheet/form" routerLinkActive="active">
          <span class="fa fa-plus-square"></span>
          Créer
        </a>
      </li>
    </ul>
    <!--
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Gestion des clients</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>

        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" routerLink="/clientreferentiel" routerLinkActive="active">
              <span class="fa fa-list"></span>
              Référentiel
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/client/form" routerLinkActive="active">
              <span class="fa fa-plus-square"></span>
              Créer
            </a>
          </li>
        </ul>
    -->
  </div>
</nav>
