<div class="row big-row">
  <div class="col-md">
    <div class="form-group">
      <label for="addContextsAndIssues">Renseigner les contextes & enjeux</label>
      <textarea class="form-control" id="addContextsAndIssues" rows="3" 
                [(ngModel)]="sheet.contextesEtEnjeux" name="contextesEtEnjeux">
      
      </textarea>
    </div>
  </div>
</div>

<div class="row big-row">
  <div class="col-md">
    <div class="form-group">
      <label for="addRealisations">Renseigner les réalisations</label>
      <textarea class="form-control" id="addRealisations" rows="3"
                [(ngModel)]="sheet.realisations" name="realisations">
      </textarea>
    </div>
  </div>
</div>

<div class="row big-row">
  <div class="col-md">
    <div class="form-group">
      <label for="addAdvantages">Renseigner les avantages</label>
      <textarea class="form-control" id="addAdvantages" rows="3"
                [(ngModel)]="sheet.avantages" name="avantages">
      </textarea>
    </div>
  </div>
</div>

<button class="btn btn-light btn-neosoft-warning float-left mr-2" 
        (click)="onCancelEdition()"
        *ngIf="getEditMode()">
  Annuler l'édition
</button>

<button class="btn btn-light btn-neosoft float-left" (click)="goStepMission()">
  <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Précédent
</button>

<button class="btn btn-light btn-neosoft float-right mb-5" (click)="createSheet()">Valider
  &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></button>
